:root {
  --color-accent: oklch(0.62 0.12 138.47);
}

html {
  color-scheme: light dark;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
  text-wrap: balance;
}

body {
  accent-color: var(--color-accent);
  font: 100%/1.5 system-ui;
  max-width: 100ch;
  margin: 0 auto;
  padding: 1rem;
}

.color-scheme {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  font-size: 0.8rem;
  font-family: inherit;
}

nav {
  display: flex;
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--color-accent);

  a {
    text-align: center;
    padding: 0.5rem;
    flex: 1;
    text-decoration: none;
    color: inherit;

    &.current {
      border-bottom: 0.4rem solid var(--color-accent);
    }

    &:hover {
      background-color: color-mix(in oklch, var(--color-accent), canvas 85%);
      border-bottom: 0.4rem solid var(--color-accent);
    }
  }
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  gap: 1rem;

  article {
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 3;

    h2 {
      margin: 0;
    }
  }
}

#projects-plot {
  max-width: 20em;
  margin-bottom: 1rem;

  overflow: visible;

  &:has(path:hover) {
    path:not(:hover) {
      opacity: 0.5;
    }
  }

  path {
    transition: 300ms;
  }
}

.selected {
  --color: oklch(60% 45% 0) !important;

  &:is(path) {
    fill: var(--color);
  }
}

.container {
  display: flex;
  gap: 1rem;
}

.legend {
  flex: 1;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(9em, 1fr));
  gap: 0.5rem;
  list-style: none;
  padding: 0.5rem;

  border: 1px solid var(--color-accent);
  border-radius: 0.5rem;
}

.legend-item {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.swatch {
  display: inline-block;
  width: 1em;
  height: 1em;
  border-radius: 0.25em;
  background-color: var(--color);
}

.gridlines {
  color: #aaa;
}

.info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}

.tooltip {
  position: fixed;
  top: 1em;
  left: 1em;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 0.5rem;
  border-radius: 0.25rem;
}

circle {
  transition: 200ms;
  transform-origin: center;
  transform-box: fill-box;
}

circle:hover {
  transform: scale(1.5);
}
